@media only screen and (min-width: 768px) {
    .card-image {
        min-width: 250px;
    }
}
@media only screen and (max-width: 767px) {
    .card-image {
        min-width: 250px;
    }
}
.card-image {
    position: relative;
    border-radius: 12px;
}
.card-modal-img {
    min-width: 250px;
    border-radius: 12px;
}
.rating-selectbox {
    width: 280px;
    height:28px;
}
.cfilter-label {
    cursor: pointer;
}
.rfilter-label {
    cursor: pointer;
}