@media only screen and (min-width: 800px) {
	body {
		overflow-x: hidden;
	}
}

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 1em;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
	display: flex;
	justify-content: flex-end;
}

footer span {
	margin-left: 2em;
}

.disconnected-icon {
	position: fixed;
	right: 2em;
	bottom: 3em;
	padding: 1em;
	background-color: darkred;
	border-radius: 0.5em;
	z-index: 999;
	box-shadow: 0 0 10px black;
	font-weight: bold;
}

.custom-swal-popup,
.custom-swal-title,
.custom-swal-content {
	color: #ddd !important;
	background: #282828 !important;
}

select.swal2-input option {
	background-color: #282828;
}

.disconnected-user-popup-container {
	position: absolute;
	user-select: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 600;
	border-radius: 0.5em;
	background-color: #00000060;
	display: flex;
	justify-content: center;
	align-items: center;
}

.disconnected-user-popup {
	background-color: #222222;
	text-align: center;
	padding: 2em;
	border-radius: 0.5em;
	min-width: 30%;
}

.disconnected-user-popup h1 {
	margin-top: 0;
}

#main-container {
	padding: 1em;
	padding-top: 0.5em;
}

/* Inputs */

#main-container select,
#main-container option,
#main-container textarea,
#main-container input[type="text"],
#main-container input[type="password"],
#main-container input[type="button"],
#main-container input[type="number"],
#main-container button,
.standard-input,
.check-button + label {
	color: #ddd;
	background-color: #555;
	border-radius: 4px;
	border: 1px solid #888;
	padding: 5px 5px;
	margin: 0.25em;
}

#main-container input[type="button"],
#main-container button {
	box-shadow: inset 2px 2px 8px -3px #888, inset -2px -2px 8px -3px #000;
}

#main-container input[type="button"]:active,
#main-container button:active {
	box-shadow: inset 2px 2px 8px -3px #000, inset -2px -2px 8px -3px #888;
	transform: translateY(1px);
}

#main-container button.flat {
	box-shadow: initial;
	background-color: #383838;
}

#main-container .button,
#main-container button,
#main-container input[type="button"],
#main-container input[type="submit"],
#main-container input[type="reset"],
#main-container input[type="button"],
#main-container .check-button + label {
	display: inline-block;
	height: 28px;
	padding: 0 15px;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	cursor: pointer;
	box-sizing: border-box;
}

#main-container .controls button {
	background-color: #333;
}

#main-container button:disabled {
	color: #555;
	cursor: auto;
}

#main-container .button:hover:enabled,
#main-container button:hover:enabled,
#main-container input[type="submit"]:hover:enabled,
#main-container input[type="reset"]:hover:enabled,
#main-container input[type="button"]:hover:enabled,
.check-button:hover:enabled + label,
#main-container .button:focus,
#main-container button:focus,
#main-container input[type="submit"]:focus,
#main-container input[type="reset"]:focus,
#main-container input[type="button"]:focus,
.check-button + label:focus {
	color: #fff;
	border-color: #bbb;
	outline: 0;
}

#main-container button.confirm {
	background-color: #3085d6;
	text-shadow: 0 0 2px black;
}

#main-container button.confirm:hover {
	background-color: #2972b6;
}

#main-container button.stop {
	background-color: darkred;
}

.check-button-container {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
}

.check-button {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border: none;
	padding: 0;
	border-radius: 0;
	vertical-align: middle;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 32 32' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3e%3cpath d='M448,71.9c-17.3-13.4-41.5-9.3-54.1,9.1L214,344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8 c-15.6,15.5-16.4,41.6-1.7,58.1c0,0,120.4,133.6,137.7,147c17.3,13.4,41.5,9.3,54.1-9.1l206.3-301.7 C469.2,110.9,465.3,85.2,448,71.9z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	background-position: -10em -10em;
	transition: 0.3s ease;
	outline: 0;
}

.check-button:active + label {
	background-color: #888;
}

.check-button:checked + label {
	box-shadow: 0 0 2px 1px green;
}

.check-button:checked:after {
	font-family: "Font Awesome 5 Free";
	content: "\f00c";
	z-index: 3;
	font-weight: 900;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2em;
	color: green;
}

.set-icon {
	display: inline-block;
	height: 1em;
	vertical-align: baseline;
	filter: invert(var(--invertedness));
}

.padded-icon {
	min-width: 3em;
}

.mana-icon {
	display: inline-block;
	height: 1em;
}

.wildcard-icon {
	display: inline-block;
	height: 1em;
	vertical-align: text-top;
}

.land-input {
	white-space: nowrap;
}

/**** checkbox-button ****/

.checkbox-button {
	position: relative;
	display: inline-block;
	margin: 0.5em;
	padding: 0.25em;
	border-radius: 0.25em;
	background-color: #666;
	cursor: pointer;

	height: 25px;
	box-shadow: inset 1px 1px 4px 0 #bbb, inset -1px -1px 4px 0 #222;
}

.checkbox-button:hover {
	background-color: #888;
}

.checkbox-button[data-checked="true"] {
	box-shadow: 0px 0px 3px 2px #ccc, inset 1px 1px 4px 0 #222, inset -1px -1px 4px 0 #bbb;
}

.checkbox-button label {
	line-height: 25px;
}

/* Hide default checkbox */
.checkbox-button input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* ** Session Options ** */

.session-options-container {
	display: grid;
	grid-template-columns: 1fr 1fr;

	grid-template-areas:
		"option-column-left option-column-right"
		"option-custom-card-list option-custom-card-list";
}

.session-options-container h4 {
	margin: 0.25em;
}

.option-column-left {
	grid-area: option-column-left;
}

.option-column-right {
	grid-area: option-column-right;
}

.option-custom-card-list {
	grid-area: option-custom-card-list;
	margin: 0.5em;
	padding: 0.5em;
	padding-top: 0;
}

.option-custom-card-list button {
	margin: 0;
}

.option-column {
	margin: 0.5em;
}

.option-tooltip > .tooltip-inner {
	max-width: 20vw;
}
.option-tooltip > .tooltip-inner > p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.option-column .line {
	display: flex;
	align-items: center;
}

.option-column-title {
	margin: auto;
	padding: 0.25em;
	text-align: center;
	font-variant: all-small-caps;
}

.option-column .line > label {
	display: inline-block;
	width: min(15rem, 22.5vw);
	text-align: right;
}

.option-column .line .right {
	display: inline-block;
	width: min(15rem, 22.5vw);
}

.option-column .full-line {
	display: flex;
	text-align: center;
}

.option-column .full-line > * {
	flex: 1 1 auto;
	min-width: 0;
}

.option-cube-select {
	background-color: rgba(75, 75, 75, 1);
	border-radius: 6px;
	margin: 0 0 0 0;
	padding: 0.25em 0.5em 0.25em 0.5em;
}

.option-cube-infos {
	padding: 0.75em;
	box-sizing: border-box;
	background: linear-gradient(180deg, rgba(75, 75, 75, 0.1) 0%, rgba(75, 75, 75, 1) 15%);
	border-radius: 0 0 6px 6px;
	min-width: 50vw;
	margin: 0 0.75em 0 0.75em;
}

.option-section {
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 0.25em;
	margin-bottom: 0.25em;
}

.option-info {
	text-align: center;
	font-size: 0.8em;
	padding: 0.5em;
}

.file-drop {
	padding: 0.75em;
	margin: 0.5em 0 0.5em 0;
	border: 4px dashed rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.05);
}

.dropzone-highlight,
.file-drop:hover {
	color: white;
	border: 4px dashed rgba(255, 255, 255, 1);
}

/* ** Welcome ** */

.welcome {
	font-size: 1.1rem;
	padding: 1.5em;
	padding-top: 0;
}

.welcome .important {
	font-size: 1.4rem;
}

.welcome-sections {
	width: 85%;
	margin: auto;
}

@media (orientation: portrait) {
	.welcome-sections {
		display: flex;
		flex-direction: column;
	}
}

@media (orientation: landscape) {
	.welcome-sections {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto auto auto;
		gap: 0 1em;
		grid-template-areas:
			"News News Help"
			"News News Tools"
			"PublicSessions PublicSessions PublicSessions";
	}
}

.welcome-section {
	padding: 0.75em;
	background-color: #282828d0;
	border-radius: 10px;
	box-shadow: inset 0 0 8px #383838;
}

.welcome-section ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.welcome-section .news:not(:last-child) {
	margin-bottom: 1em;
}

.welcome-section .news p {
	margin: 0 0 0 1em;
}

.welcome-alt {
	background-color: #202020e0;
}

.public-sessions {
	width: 100%;
	--invertedness: 100%;
}

.public-sessions thead {
	background-color: rgba(0, 0, 0, 0.2);
}
.public-sessions tr:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.025);
}

.public-sessions tr:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.05);
}

.public-sessions tr td.id {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 11em;
}

.public-sessions tr td.desc {
	width: 80%;
	word-break: break-all;
}

.public-sessions tr td:not(.desc) {
	white-space: nowrap;
	text-align: center;
}

.public-sessions th,
.public-sessions td {
	padding: 0.25em;
}

/* ** Help Modal ** */

.faq p {
	margin-left: 2em;
}

.help-options {
	display: flex;
}

.help-options ul {
	list-style-type: none;
	padding-left: 1em;
	margin-right: 1em;
}

.help-options ul li {
	padding: 0.2em;
	padding-left: 0.5em;
}

.help-options ul li:nth-child(even) {
	background: rgba(0, 0, 0, 0.12);
}

.help-options ul li:nth-child(odd) {
	background: rgba(255, 255, 255, 0.03);
}

.option-name {
	font-variant: small-caps;
}

.container {
	margin-top: 1em;
}

.disable-warning {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, -50%);
	font-variant: small-caps;
	white-space: nowrap;
	font-size: 1em;
	text-shadow: 0px 0px 10px black;
}

#url-remainder {
	position: absolute;
	left: 0em;
	top: 50%;
	transform: translateY(-50%);
	font-variant: small-caps;
	font-weight: bold;
	font-size: 1.5em;
	color: #888;
	background-color: #222;
	mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 5em);
	-webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 5em);
	padding: 0.35em 6em 0.35em 0.5em;
}

#draft-in-progress {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	white-space: nowrap;
	transform: translate(-50%, -50%);
	font-variant: small-caps;
	font-size: 1.5em;
	background-color: #222;
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 5em),
		linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 5em);
	-webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 5em),
		linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 5em);
	mask-composite: intersect;
	-webkit-mask-composite: source-in;
	padding: 0.35em 6em 0.35em 6em;
}

.main-controls {
	background-color: #333;
	padding: 0.25em;
	margin: 0.25em;
	border-radius: 0.25em;
}

.main-controls input[type="checkbox"] {
	margin-right: 0;
}

.card-pool-controls .fas,
#session-controls .far,
#session-controls .fas {
	margin-left: 1px;
	margin-right: 1px;
}

#limited-controls,
#view-controls {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: baseline;
}

#limited-controls > * {
	margin-right: 4px;
}

#limited-controls > *:last-child {
	margin-right: inherit;
}

#session-id {
	width: 12em;
}

.game-modes-cat {
	margin-bottom: 0.5em;
	display: flex;
	flex-direction: column;
}

.game-modes-cat-title {
	text-align: center;
	font-variant: small-caps;
	font-size: 0.75em;
}

.setting-button {
	margin: 0.5em;
}

/**** Session Players ****/

.session-players {
	background: #181818;
	padding: 0.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul.player-list {
	display: inline-flex;
	list-style: none;
	width: 100%;
	padding-left: 0;
	margin: 0;
	flex-wrap: wrap;
}

.player-list li {
	position: relative;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em;
	min-width: 6em;
	max-width: 12em;
	margin-right: 0.5em;
	margin-left: 0.5em;
	background: #282828;
	border-radius: 5px;
	flex: 1 1 9.5em;
}

/* Applying a transition to draggable item break SortableJS animations, here it's only applied for other player to get feedback when owner changes the order */
.player-list li:not(.draggable) {
	transition: all 0.2s;
}

.player-list li.self {
	box-shadow: inset 0 0 5px 0px rgba(255, 255, 255, 0.3);
}

.player-list li.draggable {
	transform: translateY(0);
}
.player-list li.draggable:hover {
	transform: translateY(-3px);
	box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.75);
}
.player-list li.draggable.self:hover {
	box-shadow: inset 0 0 5px 0px rgba(255, 255, 255, 0.3), 3px 3px 5px 0 rgba(0, 0, 0, 0.75);
}

.player-list li.bot {
	min-width: auto;
	flex: 1 1 auto;
}

.player-name {
	min-width: 5em;
	flex: 1 1 auto;
	overflow: hidden;
	white-space: nowrap;
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 5em, transparent);
}

.move-player {
	color: #555;
	/*font-size: 0.8em;*/
}

.move-player-left {
	position: absolute;
	left: -0.3em;
}

.move-player-right {
	position: absolute;
	right: -0.3em;
}

.passing-order-left {
	position: absolute;
	left: -0.9em;
	top: 0.6em;
}

.passing-order-right {
	position: absolute;
	right: -0.97em;
	top: 0.6em;
}

.status-icons {
	display: inline-flex;
}

.status-icons i {
	margin-left: 0.5em;
	font-size: 14px;
}

/* Booster passing animation */

.slide-fade-right-enter-active,
.slide-fade-right-leave-active,
.slide-fade-left-enter-active,
.slide-fade-left-leave-active {
	pointer-events: none; /* Avoid picking cards during transition */
	transition: all 0.3s ease-in;
}
.slide-fade-left-enter,
.slide-fade-right-leave-to {
	transform: translateX(50px);
	opacity: 0;
}

.slide-fade-right-enter,
.slide-fade-left-leave-to {
	transform: translateX(-50px);
	opacity: 0;
}

.booster-cards-enter-active,
.booster-cards-leave-active {
	pointer-events: none; /* Avoid picking cards during transition */
	transition: all 0.5s;
}

.booster-cards-enter.wait {
	opacity: 0;
}

.booster-cards-leave-active.selected {
	transition: all 0.5s;
	width: 200px;
	overflow: visible;
}

.booster-cards-leave-active.selected .card-image {
	width: 200px;
}

.booster-cards-leave-to.selected {
	transform: translateY(250px) translateX(-100px); /* translateX compensates for width change */
	z-index: 2;
	opacity: 0;
	width: 0;
	margin: 0;
}

.booster-cards-leave-active.burned {
	animation: card-burn 0.5s;
}

.booster-cards-leave-to.burned {
	margin: 0;
}

@keyframes card-burn {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	25% {
		transform: scale(1.025);
		opacity: 1;
	}
	50% {
		transform: scale(1);
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}

/**** Draft ****/

.booster-waiting {
	position: relative;
	min-height: 306px;
}

.booster-waiting .wait {
	position: absolute;
	display: flex;
	align-items: center;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 2;
	font-size: 2.5em;
	line-height: 1.5em;
	font-family: Calibri;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	font-weight: 600;
	white-space: nowrap;
}

.booster-waiting .wait .passing-order {
	margin: 0 2em;
}

.booster-waiting .wait .passing-order.fa-angle-double-right {
	animation: passing-order-right 3s infinite;
}

@keyframes passing-order-right {
	0% {
		transform: translateX(-2em);
		opacity: 0;
	}
	25% {
		transform: translateX(0);
		opacity: 1;
	}
	75% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(2em);
		opacity: 0;
	}
}

.booster-waiting .wait .passing-order.fa-angle-double-left {
	animation: passing-order-left 3s infinite;
}

@keyframes passing-order-left {
	0% {
		transform: translateX(2em);
		opacity: 0;
	}
	25% {
		transform: translateX(0);
		opacity: 1;
	}
	75% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(-2em);
		opacity: 0;
	}
}

.booster-waiting {
	pointer-events: none;
	background: repeating-linear-gradient(45deg, #282828, #282828 10px, #222 10px, #222 20px);
}

.booster-waiting .card {
	filter: brightness(50%);
}

#chrono {
	padding: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.section-title {
	display: flex;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
	min-height: 35px;
}

.section-title h2 {
	display: inline-block;
	margin: 0;
	font-variant: small-caps;
	font-size: 28px;
}

.controls {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1.5em;
	margin-left: 1.5em;
}
@supports not (gap: 1.5em) {
	#main-container .controls > * {
		margin-left: 1.5em;
	}
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #282828;
	border-radius: 10px;
	box-shadow: inset 0 0 8px #383838;
	padding: 0.5em;
}

.deck-container {
	display: flex;
}

.deck {
	flex: 1 1 auto;
}

.collapsed-sideboard {
	flex: 0 0 auto;
	margin-left: 1em;
	box-sizing: border-box;
}

.collapsed-sideboard h2 {
	font-size: 20px;
	line-height: 28px;
}

.selected .card-image,
.selected .card-placeholder {
	-webkit-box-shadow: 0px 0px 20px 1px rgba(0, 115, 2, 1);
	-moz-box-shadow: 0px 0px 20px 1px rgba(0, 115, 2, 1);
	box-shadow: 0px 0px 20px 1px rgba(0, 115, 2, 1);
}

.selected-high .card-image,
.selected-high .card-placeholder {
	-webkit-box-shadow: 0px 0px 20px 4px rgba(0, 200, 2, 1);
	-moz-box-shadow: 0px 0px 20px 4px rgba(0, 200, 2, 1);
	box-shadow: 0px 0px 20px 4px rgba(0, 200, 2, 1);
}

.burned img {
	-webkit-box-shadow: 0px 0px 20px 1px rgb(161, 0, 3);
	-moz-box-shadow: 0px 0px 20px 1px rgb(161, 0, 3);
	box-shadow: 0px 0px 20px 1px rgb(161, 0, 3);
}

.card-column {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5em;
	min-height: 300px;
}

.card-column .card {
	height: 0;
	padding-bottom: 13.5%; /* As a percentage of the container width, used to display card name (instead of setting a height), makes its 'responsive' */
	margin: 0;
}

/* Bug in webkit applies with style to another element while drag & dropping https://bugs.webkit.org/show_bug.cgi?id=134555 */
.card-column .card:hover {
	z-index: 999;
}

.card-column .card:last-child {
	margin-bottom: 142.5%;
}

/* Only use this hover rule on desktop (hover capabilities and a mouse or equivalent device) */
@media (hover: hover) and (pointer: fine) {
	/* No :hover outside of the div bounds, will let the card disappear when the mouse moves outside of it */
	.card-column .card > div {
		pointer-events: none;
	}
	/* Except if its fully visible */
	.card-column .card:last-child > div {
		pointer-events: auto;
	}
}

.drag-column {
	min-width: 200px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 6px;
}

/**** Draft Spectator ****/

.draft-watching-state {
	text-align: center;
}

.draft-log-live-title h2 {
	display: inline-block;
	margin: 0;
	margin-left: 1em;
	margin-right: 1em;
}

.draft-log-live-instructions {
	text-align: center;
}

/* ------------------------------------------------ */
/*             Absolute Center Spinner              */

.spinner {
	display: inline-block;
	width: 2rem;
	height: 2rem;
}

.spinner:not(:required):after {
	--spinner-color: rgba(255, 255, 255, 0.75);
	content: "";
	display: inline-block;
	font-size: 8px;
	width: 1rem;
	height: 1rem;
	-webkit-animation: spinner 1500ms infinite linear;
	-moz-animation: spinner 1500ms infinite linear;
	-ms-animation: spinner 1500ms infinite linear;
	-o-animation: spinner 1500ms infinite linear;
	animation: spinner 1500ms infinite linear;
	border-radius: 0.5rem;
	-webkit-box-shadow: var(--spinner-color) 1.5rem 0 0 0, var(--spinner-color) 1.1rem 1.1rem 0 0,
		var(--spinner-color) 0 1.5rem 0 0, var(--spinner-color) -1.1rem 1.1rem 0 0, rgba(0, 0, 0, 0.5) -1.5rem 0 0 0,
		rgba(0, 0, 0, 0.5) -1.1rem -1.1rem 0 0, var(--spinner-color) 0 -1.5rem 0 0,
		var(--spinner-color) 1.1rem -1.1rem 0 0;
	box-shadow: var(--spinner-color) 1.5rem 0 0 0, var(--spinner-color) 1.1rem 1.1rem 0 0,
		var(--spinner-color) 0 1.5rem 0 0, var(--spinner-color) -1.1rem 1.1rem 0 0, var(--spinner-color) -1.5rem 0 0 0,
		var(--spinner-color) -1.1rem -1.1rem 0 0, var(--spinner-color) 0 -1.5rem 0 0,
		var(--spinner-color) 1.1rem -1.1rem 0 0;
}

.loading {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: visible;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/* Transparent Overlay */
.loading:before {
	content: "";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

.loading + span {
	position: fixed;
	top: calc(50vh + 2em);
	right: 0;
	left: 0;
	z-index: 1000;
	text-align: center;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
	/* hide "loading..." text */
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.loading:not(:required):after {
	--spinner-color: rgba(255, 255, 255, 0.75);
	content: "";
	display: block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	-webkit-animation: spinner 1500ms infinite linear;
	-moz-animation: spinner 1500ms infinite linear;
	-ms-animation: spinner 1500ms infinite linear;
	-o-animation: spinner 1500ms infinite linear;
	animation: spinner 1500ms infinite linear;
	border-radius: 0.5em;
	-webkit-box-shadow: var(--spinner-color) 1.5em 0 0 0, var(--spinner-color) 1.1em 1.1em 0 0,
		var(--spinner-color) 0 1.5em 0 0, var(--spinner-color) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0,
		rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, var(--spinner-color) 0 -1.5em 0 0, var(--spinner-color) 1.1em -1.1em 0 0;
	box-shadow: var(--spinner-color) 1.5em 0 0 0, var(--spinner-color) 1.1em 1.1em 0 0, var(--spinner-color) 0 1.5em 0 0,
		var(--spinner-color) -1.1em 1.1em 0 0, var(--spinner-color) -1.5em 0 0 0, var(--spinner-color) -1.1em -1.1em 0 0,
		var(--spinner-color) 0 -1.5em 0 0, var(--spinner-color) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-moz-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-o-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* Collection stats */
.set-stats {
	margin: 0.5em;
}

.set-stats table {
	margin: auto;
}

.set-stats caption {
	font-size: 1.25em;
}

.set-stats tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.2);
}

.set-stats th,
.set-stats td {
	padding: 0.25em;
}

.set-stats td:not(:first-child) {
	text-align: center;
}

/* Animations */

.shaking {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

.pulsing {
	animation: pulse 0.4s;
	box-shadow: 0 0 0 0 rgba(200, 0, 0, 1);
	transform: scale(1);
}

@keyframes pulse {
	0% {
		transform: scale(1.1);
		box-shadow: 0 0 0 0 rgba(200, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(200, 0, 0, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(200, 0, 0, 0);
	}
}

.currentPlayer {
	-webkit-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
}

/** Winston Draft **/

.winston-piles {
	display: flex;
	justify-content: space-around;
	position: relative;
	padding: 0.75em;
	min-height: 354.2px;
}

.winston-pile {
	margin: 0 1em 0 1em;
	padding: 0.5em;
	width: 250px;
}

.winston-pile .card-image,
.winston-pile .card-image img {
	width: 250px;
}

.winston-current-pile {
	background-color: #555;
	-webkit-box-shadow: 0px 0px 5px 5px #555;
	-moz-box-shadow: 0px 0px 5px 5px #555;
	box-shadow: 0px 0px 5px 5px #555;
}

.winston-current-pile-options {
	display: flex;
	flex-direction: column;
}

.winstom-card-column {
	display: flex;
	flex-direction: column;
}

.winston-pile-status {
	box-sizing: border-box;
	width: 100%;
	padding: 0.5em;
	text-align: center;
}

.rochester-container {
	display: flex;
	align-items: flex-start;
}

/**** Set Multiselect ****/

.multiselect {
	display: inline-block;
	vertical-align: baseline;
	width: 17.5em;
	min-height: auto;
	--invertedness: 100%;
}

.multiselect__tags,
.multiselect__single,
.multiselect__element,
.multiselect__content-wrapper {
	color: #ddd;
	background: #555;
}

.multiselect__tags {
	border-radius: 4px;
	border: 1px solid #888;
	height: 28px;
	min-height: auto;
	padding: 5px 5px;
}

.multiselect__option {
	font-size: 14px;
	min-height: auto;
	line-height: inherit;
	padding: 5px;
	padding-left: 0;
}

.multiselect__option--selected {
	--invertedness: 0%;
}

.set-option {
	font-weight: initial;
}

.multiselect__option::after {
	line-height: 36px;
	font-size: 10px;
	padding-left: inherit;
	font-family: "Font Awesome 5 Free";
}

.multiselect__tag {
	background: #333;
}

.multiselect__placeholder {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.multiselect--active .multiselect__placeholder {
	display: inline-block;
}

.multiselect__single {
	margin-bottom: 0;
	line-height: inherit;
	min-height: auto;
	width: auto;
	font-size: inherit;
}

.multiselect__single_nooverflow {
	overflow: hidden;
	max-height: 1em;
	max-width: 12em;
}

.multiselect__single_nooverflow .set-icon {
	margin-right: 0.2em;
}

.multiselect__select {
	top: 40%;
	bottom: 60%;
	right: 0;
	height: auto;
}

.multiselect__select::before {
	top: 2.5px;
}

.multiselect__tag-icon {
	color: #bf5d5d;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
	opacity: 0;
}
