body {
	margin: 0;
	margin-left: 0;
	background-color: rgb(32, 32, 32);
	color: #ddd;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	min-height: calc(100vh);
}

.backgound-image {
	position: absolute;
	right: 2em;
	top: 7em;
	background: radial-gradient(closest-side, rgba(32, 32, 32, 0.5), rgba(32, 32, 32, 0.5) 50%, rgb(32, 32, 32)),
		url("../assets/img/one_sma_fb_1000x1000_en.webp");
	background-position: center, center 22%;
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: -1;
	width: 70em;
	height: 45em;
}

@media (max-width: 1600px) {
	body {
		overflow-x: hidden;
		background-position: 90% 5em;
	}
}

a,
a:visited {
	color: #518ae6;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #72a7ff;
}

pre {
	background-color: #333;
	padding: 0.5em;
	tab-size: 4;
}

label {
	margin: 0.25em;
}

.capitalized {
	text-transform: capitalize;
}

.inline {
	display: inline-block;
}

.clickable {
	cursor: pointer;
	transition: opacity 0.25s, color 0.25s;
}

.clickable:hover {
	color: #fff;
}

.faded {
	opacity: 0.5;
}

.crossed {
	position: relative;
}

.crossed:after {
	position: absolute;
	content: "";
	background-color: #ddd;
	top: 40%;
	left: calc(-14px + 50%);
	height: 2.8px;
	width: 28px;
	transform: rotate(36deg);
	box-shadow: 0 2px #333;
	border-radius: 0.5px;
}

.draggable {
	cursor: grab;
}

.green {
	color: green;
}

.yellow {
	color: yellow;
}

.brightred {
	color: red;
}

.red {
	color: DarkRed;
}

.blue {
	color: #3666b3;
}


button.blue:disabled {
	color: #3666b3;
}

.gold {
	color: gold;
}

.subtle-gold {
	text-shadow: 0 0 1px gold;
}

.redbg {
	background-color: DarkRed;
	border-radius: 0.2em;
}

.no-event {
	pointer-events: none;
}

.disabled {
	pointer-events: none;
	opacity: 0.3;
	background: repeating-linear-gradient(45deg, #282828, #282828 10px, #383838 10px, #383838 20px);
}

.disabled-simple {
	pointer-events: none;
	opacity: 0.3;
}

.opaque-disabled {
	pointer-events: none;
	filter: brightness(0.4);
}

.greyed-out {
	opacity: 0.3;
}

.small-number-input {
	width: 3em;
}

.generic-container {
	position: relative;
}

.teama,
.bracket-player.teama,
.player-list > .teama,
ul.player-table > li.teama {
	background: #21402e;
}

.teamb,
.bracket-player.teamb,
.player-list > .teamb,
ul.player-table > li.teamb {
	background: #222440;
}

.message {
	background-color: #282828;
	border-radius: 10px;
	box-shadow: inset 0 0 8px #383838;
	text-align: center;
	padding: 1em;
}

.input-delete-icon {
	position: relative;
}

.input-delete-icon span {
	position: absolute;
	display: block;
	top: 50%;
	right: 0.5em;
	width: 1em;
	height: 1em;
	transform: translateY(-50%);
	cursor: pointer;
	opacity: 70%;
}

.input-delete-icon span:hover {
	opacity: 100%;
}

.input-delete-icon input {
	padding-right: 16px;
	box-sizing: border-box;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.1s ease-in-out;
}

@font-face {
	font-family: "Mini Font Awesome 5 Free";
	font-style: normal;
	font-weight: 900;
	font-display: block;
	src: url("../assets/fonts/mini-icons.woff2") format("woff2");
}
