body {
	margin: 0;
	margin-left: 0;
	background-color: rgb(32, 32, 32);
	color: #ddd;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	min-height: calc(100vh - 2em);
	padding-bottom: 2em;
}

.backgound-image {
	position: absolute;
	right: 5em;
	top: 0;
	background: radial-gradient(closest-side, rgba(32, 32, 32, 0.5), rgba(32, 32, 32, 0.5) 50%, rgb(32, 32, 32)),
		url("../assets/img/stx-bg-cropped-min.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: -1;
	width: 60em;
	height: 26em;
}

@media (max-width: 1600px) {
	body {
		overflow-x: hidden;
		background-position: 90% 5em;
	}
}

a,
a:visited {
	color: #518ae6;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #72a7ff;
}

pre {
	background-color: #333;
	padding: 0.5em;
}

label {
	margin: 0.25em;
}

.capitalized {
	text-transform: capitalize;
}

.inline {
	display: inline-block;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	color: #fff;
}

.draggable {
	cursor: grab;
}

.green {
	color: green;
}

.yellow {
	color: yellow;
}

.brightred {
	color: red;
}

.red {
	color: DarkRed;
}

.blue {
	color: #3666b3;
}

.gold {
	color: gold;
}

.subtle-gold {
	text-shadow: 0 0 1px gold;
}

.redbg {
	background-color: DarkRed;
	border-radius: 0.2em;
}

.no-event {
	pointer-events: none;
}

.disabled {
	pointer-events: none;
	opacity: 0.3;
	background: repeating-linear-gradient(45deg, #282828, #282828 10px, #383838 10px, #383838 20px);
}

.opaque-disabled {
	pointer-events: none;
	filter: brightness(0.4);
}

.greyed-out {
	opacity: 0.3;
}

.small-number-input {
	width: 3em;
}

.generic-container {
	position: relative;
}

.teama,
.bracket-player.teama,
.player-list > .teama,
ul.player-table > li.teama {
	background: #21402e;
}

.teamb,
.bracket-player.teamb,
.player-list > .teamb,
ul.player-table > li.teamb {
	background: #222440;
}

.message {
	background-color: #282828;
	border-radius: 10px;
	box-shadow: inset 0 0 8px #383838;
	text-align: center;
	padding: 1em;
}

.input-delete-icon {
	position: relative;
}

.input-delete-icon span {
	position: absolute;
	display: block;
	top: 50%;
	right: 0.5em;
	width: 1em;
	height: 1em;
	transform: translateY(-50%);
	cursor: pointer;
	opacity: 70%;
}

.input-delete-icon span:hover {
	opacity: 100%;
}

.input-delete-icon input {
	padding-right: 16px;
	box-sizing: border-box;
}
