body {
	margin: 0;
	margin-left: 0;
	background-color: #222;
	color: #DDD;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

select, option, input, button {
	color: #DDD;
	background: #555;
	border-radius: 4px;
	border: 1px solid #888;
	padding: 5px 5px;
	margin: 0.25em;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	height: 28px;
	padding: 0 15px;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	cursor: pointer;
	box-sizing: border-box;
	margin: 0.5em;
}

button:disabled {
	color: #555;
	cursor: auto;
}

.button:hover:enabled,
button:hover:enabled,
input[type="submit"]:hover:enabled,
input[type="reset"]:hover:enabled,
input[type="button"]:hover:enabled,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	color: #FFF;
	border-color: #BBB;
	outline: 0;
}

#main-vue {
	padding: 1em;
}

#session-id {
	width: 18em;
}

#boosters-per-player {
	width: 3em;
}

.player-list {
	display: inline-block;
	list-style: none;
}

.player-list li {
	display: inline-block;
	padding: 0.5em;
	margin-right: 1em;
	background: #282828;
}

.container {
}

.controls {
	display: flex;
	align-items: center;
}

.controls > * {
	margin: 0  !important;
	margin-right: 1.5em !important;
}

.controls h2 {
	display: inline-block;
	margin: 0;
	font-variant: small-caps;
	font-size: 28px;
}

.controls button, .controls input[type=button] {
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	background-color: #282828;
	border-radius: 10px;
	margin-bottom: 1em;
}

.card {
	display: inline-block;
	margin: 0.75em;
	text-align: center;
}

.card img {
	width: 200px;
	transition: transform 0.1s ease-out;
	transform-origin: bottom;
	border-radius: 6px;
	cursor: pointer;
}

.selected {
	-webkit-box-shadow: 0px 0px 20px 1px rgba(0,115,2,1);
	-moz-box-shadow: 0px 0px 20px 1px rgba(0,115,2,1);
	box-shadow: 0px 0px 20px 1px rgba(0,115,2,1);
}

/* Deck display */

.deck {
	justify-content: flex-start;
	position: relative;
}

.cmc-column {
	display: flex;
	flex-direction: column;
	padding-bottom: 275px;
	margin-right: 0.75em;
}

.cmc-column > figure {
	height: 25px;
	margin: 0;
	overflow: hidden;
}

.cmc-column figure:hover {
	z-index: 999;
	overflow: visible;
}

.cmc-column figure:last-child {
	overflow: visible;
}

/* No :hover outside of the figure bounds */
.cmc-column figure img {
	pointer-events: none;
}
/* Except if its fully visible */ 
.cmc-column figure:last-child img {
	pointer-events: auto;
}

.cmc-column figcaption {
	display: none;
}

/* Close button */
.close {
	position: absolute;
	right: 32px;
	top: 32px;
	width: 32px;
	height: 32px;
	opacity: 0.5;
	transition: opacity 0.25s;
}
.close:hover {
	opacity: 1;
}
.close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 4px;
	border-radius: 2px;
	background-color: #FFF;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}

.green {
	color: green;
}

.red {
	color: red;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

/* ------------------------------------------------ */
/*             Absolute Center Spinner              */

.spinner {
  display: inline-block;
  width: 2em;
  height: 2em;
  margin-left: 1.5em;
}

.spinner:not(:required):after {
  --spinner-color: rgba(255, 255, 255, 0.75);
  content: '';
  display: inline-block;
  font-size: 8px;
  width: 1em;
  height: 1em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: var(--spinner-color) 1.5em 0 0 0, var(--spinner-color) 1.1em 1.1em 0 0, var(--spinner-color) 0 1.5em 0 0, var(--spinner-color) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, var(--spinner-color) 0 -1.5em 0 0, var(--spinner-color) 1.1em -1.1em 0 0;
  box-shadow: var(--spinner-color) 1.5em 0 0 0, var(--spinner-color) 1.1em 1.1em 0 0, var(--spinner-color) 0 1.5em 0 0, var(--spinner-color) -1.1em 1.1em 0 0, var(--spinner-color) -1.5em 0 0 0, var(--spinner-color) -1.1em -1.1em 0 0, var(--spinner-color) 0 -1.5em 0 0, var(--spinner-color) 1.1em -1.1em 0 0;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

.loading + span {
	position: absolute;
	top: calc(50% + 2em);
	right: 0;
	left: 0;
	z-index: 1000;
	text-align: center;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  --spinner-color: rgba(255, 255, 255, 0.75);
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: var(--spinner-color) 1.5em 0 0 0, var(--spinner-color) 1.1em 1.1em 0 0, var(--spinner-color) 0 1.5em 0 0, var(--spinner-color) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, var(--spinner-color) 0 -1.5em 0 0, var(--spinner-color) 1.1em -1.1em 0 0;
  box-shadow: var(--spinner-color) 1.5em 0 0 0, var(--spinner-color) 1.1em 1.1em 0 0, var(--spinner-color) 0 1.5em 0 0, var(--spinner-color) -1.1em 1.1em 0 0, var(--spinner-color) -1.5em 0 0 0, var(--spinner-color) -1.1em -1.1em 0 0, var(--spinner-color) 0 -1.5em 0 0, var(--spinner-color) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}