body {
	margin: 0;
	margin-left: 0;
	background-image: url('../img/eld_1080p_en.jpg'), radial-gradient(ellipse at 75% 30%, rgba(32,32,32,0.8), rgba(32,32,32,1) 50%);
	background-blend-mode: saturation;
	background-size: 100%;
	color: #DDD;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	position: relative;
	min-height: calc(100vh - 3em);
	padding-bottom: 3em;
}

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 1em;
	text-align: right;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.custom-swal-popup, .custom-swal-title, .custom-swal-content {
	color: #DDD !important;
	background: #282828 !important;
}

a, a:visited {
	color: #3666b3;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #72a7ff;
}

#main-vue select, 
#main-vue option, 
#main-vue input[type="text"], 
#main-vue input[type="button"], 
#main-vue input[type="number"], 
#main-vue button, 
.check-button + label 
{
	color: #DDD;
	background: #555;
	border-radius: 4px;
	border: 1px solid #888;
	padding: 5px 5px;
	margin: 0.25em;
}

#main-vue {
	padding: 1em;
	padding-top: 0.5em;
}

#main-vue .button,
#main-vue button,
#main-vue input[type="submit"],
#main-vue input[type="reset"],
#main-vue input[type="button"],
.check-button + label {
	display: inline-block;
	height: 28px;
	padding: 0 15px;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	cursor: pointer;
	box-sizing: border-box;
	margin: 0.5em;
}

.check-button-container {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
}

.check-button {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
    padding: 0;
    border-radius: 0;
    vertical-align: middle;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 32 32' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3e%3cpath d='M448,71.9c-17.3-13.4-41.5-9.3-54.1,9.1L214,344.2l-99.1-107.3c-14.6-16.6-39.1-17.4-54.7-1.8 c-15.6,15.5-16.4,41.6-1.7,58.1c0,0,120.4,133.6,137.7,147c17.3,13.4,41.5,9.3,54.1-9.1l206.3-301.7 C469.2,110.9,465.3,85.2,448,71.9z'/%3e%3c/svg%3e");
    background-repeat:no-repeat;
    background-size:cover;
    background-color:transparent;
    background-position:-10em -10em;
    transition:.3s ease;
    outline:0;
}

.check-button:focus + label{
} 

.check-button:active + label {
    background-color: #888;
}

.check-button:checked + label {
	box-shadow: 0 0 2px 1px green;
}

.check-button:checked:after {
	font-family: "Font Awesome 5 Free";
	content: "\f00c";
	z-index: 3;
	font-weight: 900;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2em;
	color: green;
}

#main-vue button:disabled {
	color: #555;
	cursor: auto;
}

#main-vue .button:hover:enabled,
#main-vue button:hover:enabled,
#main-vue input[type="submit"]:hover:enabled,
#main-vue input[type="reset"]:hover:enabled,
#main-vue input[type="button"]:hover:enabled,
.check-button:hover:enabled + label,
#main-vue .button:focus,
#main-vue button:focus,
#main-vue input[type="submit"]:focus,
#main-vue input[type="reset"]:focus,
#main-vue input[type="button"]:focus,
.check-button + label:focus {
	color: #FFF;
	border-color: #BBB;
	outline: 0;
}

.welcome {
	font-size: 1.3em;
	padding: 2em;
}

label {
	margin: 0.25em;
}

.generic-container {
	position: relative;
}

.container {
	margin-top: 1em;
}

#draft-in-progress {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-variant: small-caps;
	font-size: 1.5em;
	text-shadow: 0px 0px 10px black;
}

.v-separator {
	border: 1px solid #666;
	width: 0;
	margin: 0.5em;
}

.main-controls {
	background-color: #333;
	padding: 0.25em;
	margin: 0.25em;
	border-radius: 0.25em;
}

#session-controls {
}

#limited-controls, #view-controls {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#session-id {
	width: 12em;
}

.booster-count {
	width: 3em;
}

.session-players {
	background: #181818;
	padding: 0.5em;
}

ul.player-list {
	display: inline-block;
	list-style: none;
	margin: 0;
}

.player-list li {
	display: inline-block;
	padding: 0.5em;
	margin-right: 1em;
	background: #282828;
	border-radius: 5px;
}

.status-icons {
	display: inline-flex;
}

.status-icons i {
	margin-left: 0.5em;
	font-size: 14px;
}

.pick-waiting {
	padding: 2em;
}

.controls {
	display: flex;
	align-items: center;
}

.controls > * {
	margin: 0  !important;
	margin-right: 1.5em !important;
}

.controls h2 {
	display: inline-block;
	margin: 0;
	font-variant: small-caps;
	font-size: 28px;
}

.controls button, .controls input[type=button] {
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #282828;
	border-radius: 10px;
	box-shadow: inset 0 0 8px #383838;
}

.card {
	display: inline-block;
	margin: 0.75em;
	text-align: center;
}

.card img {
	width: 200px;
	transition: transform 0.08s ease-out;
	/*transform-origin: bottom;*/
	border-radius: 6px;
	cursor: pointer;
}

.booster .card img:hover, 
.card-pool .card img:hover {
	transform: scale(1.25);
}

.selected {
	-webkit-box-shadow: 0px 0px 20px 1px rgba(0,115,2,1);
	-moz-box-shadow: 0px 0px 20px 1px rgba(0,115,2,1);
	box-shadow: 0px 0px 20px 1px rgba(0,115,2,1);
}

/* Deck display */

.deck {
	justify-content: flex-start;
	position: relative;
	padding: 0.75em;
}

.cmc-column {
	display: flex;
	flex-direction: column;
	padding-bottom: 275px;
	margin-right: 0.75em;
}

.cmc-column > figure {
	height: 25px;
	margin: 0;
	overflow: hidden;
}

.cmc-column figure:hover {
	z-index: 999;
	overflow: visible;
}

.cmc-column figure:last-child {
	overflow: visible;
}

/* No :hover outside of the figure bounds */
.cmc-column figure img {
	pointer-events: none;
}
/* Except if its fully visible */ 
.cmc-column figure:last-child img {
	pointer-events: auto;
}

.cmc-column figcaption {
	display: none;
}

/* Close button */
.close {
	position: absolute;
	right: 32px;
	top: 32px;
	width: 32px;
	height: 32px;
	opacity: 0.5;
	transition: opacity 0.25s;
}
.close:hover {
	opacity: 1;
}
.close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 4px;
	border-radius: 2px;
	background-color: #FFF;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}

.green {
	color: green;
}

.red {
	color: red;
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
	background: repeating-linear-gradient(45deg, #282828, #282828 10px,   #383838 10px, #383838 20px);
}

/* ------------------------------------------------ */
/*             Absolute Center Spinner              */

.spinner {
  display: inline-block;
  width: 2em;
  height: 2em;
  margin-left: 1.5em;
}

.spinner:not(:required):after {
  --spinner-color: rgba(255, 255, 255, 0.75);
  content: '';
  display: inline-block;
  font-size: 8px;
  width: 1em;
  height: 1em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: var(--spinner-color) 1.5em 0 0 0, var(--spinner-color) 1.1em 1.1em 0 0, var(--spinner-color) 0 1.5em 0 0, var(--spinner-color) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, var(--spinner-color) 0 -1.5em 0 0, var(--spinner-color) 1.1em -1.1em 0 0;
  box-shadow: var(--spinner-color) 1.5em 0 0 0, var(--spinner-color) 1.1em 1.1em 0 0, var(--spinner-color) 0 1.5em 0 0, var(--spinner-color) -1.1em 1.1em 0 0, var(--spinner-color) -1.5em 0 0 0, var(--spinner-color) -1.1em -1.1em 0 0, var(--spinner-color) 0 -1.5em 0 0, var(--spinner-color) 1.1em -1.1em 0 0;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

.loading + span {
	position: absolute;
	top: calc(50% + 2em);
	right: 0;
	left: 0;
	z-index: 1000;
	text-align: center;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  --spinner-color: rgba(255, 255, 255, 0.75);
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: var(--spinner-color) 1.5em 0 0 0, var(--spinner-color) 1.1em 1.1em 0 0, var(--spinner-color) 0 1.5em 0 0, var(--spinner-color) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, var(--spinner-color) 0 -1.5em 0 0, var(--spinner-color) 1.1em -1.1em 0 0;
  box-shadow: var(--spinner-color) 1.5em 0 0 0, var(--spinner-color) 1.1em 1.1em 0 0, var(--spinner-color) 0 1.5em 0 0, var(--spinner-color) -1.1em 1.1em 0 0, var(--spinner-color) -1.5em 0 0 0, var(--spinner-color) -1.1em -1.1em 0 0, var(--spinner-color) 0 -1.5em 0 0, var(--spinner-color) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}