table.dataTable tbody td {
    vertical-align: middle;
    outline: none;
}

.text-muted a{
    color: #777;
}
tbody tr.highlight td {
    background-color: rgba(128, 128, 128,0.1);
}

div.dataTables_processing {
    z-index: 1;
}
.dataTables_filter {
    text-align: left !important;
}

table.dataTable > tbody > tr.child ul.dtr-details {
    display: block;
}