/* TEMP: Should be refactored. */

.card {
	display: inline-block;
	position: relative;
	margin: 0.75em;
	text-align: center;
	transition: transform 0.08s ease-out;
}

.booster .card:hover {
	transform: scale(1.08);
}
