name: Client Test

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    client:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [18.x]

        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "npm"
            - run: npm ci
            - run: npm run build-server
            - run: npm run client-type-check
            - run: npx webpack --config client/webpack.config.cjs --mode=production
            - run: mkdir screenshots
            - run: npm run fronttest-headless
              timeout-minutes: 30
              continue-on-error: true
            - uses: actions/upload-artifact@v3
              with:
                  name: screenshots
                  path: screenshots/*.png
